In [ ]:
##Data Science Tools and Ecosystem

In [ ]:
##In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
##Some of the popular languages that Data Scientists use are:

1.)python
2.)C++
3.)java

In [ ]:
##Some of the commonly used libraries used by Data Scientists include:

1.)pandas
2.)scikit Learn
3.)numPy

In [ ]:
##Tables

| Data Science Tools|
| --- | --- | --- |
BigML
Apache Spark
SQL

In [3]:
##Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5

17

In [5]:
##This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

In [ ]:
<b> Objectives</b>

*List Languages Covered
*Create a Table 
*Give mathamatical expression examples

Author
CM